.header {
    
    padding: 20px 25px;
    text-transform: uppercase;
    background-color: #fff !important;
    color: #02325e !important;
    font-size: 12.5px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 0.09em;
    font-weight: 600;

}